@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply text-left px-4 py-2 rounded-lg hover:bg-slate-700 transition;
}

.card {
  @apply bg-white p-5 rounded-xl shadow hover:shadow-lg transition cursor-pointer;
}

.input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  outline: none;
  transition: 0.2s;
}

.input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59,130,246,0.2);
}

.input-pro {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  outline: none;
  transition: all 0.2s;
  width: 100%;
}

.input-pro:focus {
  border-color: #06b6d4;
  box-shadow: 0 0 0 2px rgba(6, 182, 212, 0.2);
}